.checker {
  width: 75%;
  flex-shrink: 0;
}

.grammar-textarea {
  height: 502px;

  resize: none;
  background: #ffffff;
  position: relative;
  border-radius: 6px;
  margin: 10px 15px;
  padding: 10px 0px 10px 15px;
  width: 100%;
  border-color: #ffffff;
  border: 1px;
  caret-color: black;

  word-break: break-word;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
}

.grammar-textarea:focus {
  color: none;
  background-color: none;
  border-color: white;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container {
  height: 502px;
}

.actual-text {
  background: none;
  pointer-events: none;
  overflow-wrap: break-word;
}
