.h1-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 78px;
  text-align: center;
  /* identical to box height */

  color: #000000;
}

.h2-text {
  margin-bottom: 32px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  /* identical to box height */

  color: #000000;
}
