.container {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 20px #b9d4fd);
}

.button-extension {
  width: 525px;
  height: 35px;
  margin-left: auto;
  overflow: auto;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 0px;

  color: #ffffff;
}

.button-backlink {
  width: 250px;
  height: 35px;
  margin: 0px 0px 0px auto;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 0px;

  color: #ffffff;
}

.buttons {
  display: flex;
}

.grammar-textarea {
  height: 502px;

  resize: none;
  background: #ffffff;
  position: relative;
  border-radius: 6px;
  margin: 10px 15px;
  padding: 10px 0px 10px 15px;
  width: 100%;
  border-color: #ffffff;
  border: 1px;
  caret-color: black;

  word-break: break-word;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
}

.grammar-textarea:focus {
  color: none;
  background-color: none;
  border-color: white;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.grammar-textarea-placeholder {
  color: #97a0bf;
}